
*.gz
*.pdf
*.log
*.aux
*.blg
*.toc
*.bbl
*.docx
Presentaciones/~$4.8 Protección del proyecto.pptx
Presentaciones/~$4.6 Presupuesto.pptx
Presentaciones/~$4.7 Control de programa de proyecto.pptx
Presentaciones/~$4.5 Desarrollo del proyecto.pptx
Presentaciones/~$4.4 Analisis de Factibilidad.pptx
